In [1]:
import pandas as pd

In [2]:
file_path ="/Users/hoapham/Documents/Learning/thesis/data/orderbook/41I1FB000.parquet"
df = pd.read_parquet(file_path)
df.head()

                                    price  vol side
time
2025-09-24 09:05:29.752000+07:00  1811500   10   bu
2025-09-24 09:05:29.752000+07:00  1813900   10   bu
2025-09-24 09:05:29.752000+07:00  1815900   10   bu
2025-09-24 09:05:29.753000+07:00  1819900   10   bu
2025-09-24 09:05:29.753000+07:00  1816000   40   bu