In [1]:
import pandas as pd

In [2]:
path = "/Users/hoapham/Documents/Learning/thesis/RL_data"

In [3]:
symbol = "VCB"
file_path = f"{path}/{symbol}VPIN.csv"

In [4]:
df = pd.read_csv(file_path)

In [5]:
df.head()

,Time,Buy,Sell,Price,VPIN,CDF,Price_scaled,VPIN_scaled
0,2024-09-23 13:16:00,265.162531,224.837469,91.362963,NaN,NaN,0.107666,NaN
1,2024-09-23 13:16:00,489.999915,0.000085,91.400000,NaN,NaN,0.116279,NaN
2,2024-09-23 13:17:00,489.981847,0.018153,91.438889,NaN,NaN,0.125323,NaN
3,2024-09-23 13:25:00,222.424189,267.575811,91.439683,NaN,NaN,0.125508,NaN
4,2024-09-23 13:28:00,182.908621,307.091379,91.465000,NaN,NaN,0.131395,NaN

In [14]:
pd.DataFrame(df[["Price_scaled", "VPIN_scaled"]].describe()).T.to_csv("/Users/hoapham/Documents/Learning/thesis/hinhanhluanvan/statistic_scaled.csv")